@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,600&family=Kumbh+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
   
}
.container{
    box-sizing: border-box;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 55%;
}
#images-1{
       margin-left: 80px;
       margin-top: 20px;
}
#images-2{
     margin-left: 110%;
     background-position: center center;
     background-attachment: fixed;
     margin-top: -10%;
     max-width: 392px;
     
     
     
}
.text{
      margin-top: -60%;
      margin-left: 80px;
}
h1{
    font-weight: 800;
    letter-spacing: 10px;
    font-size:40px;
    text-transform: uppercase;
}
span{
    color:hsla(0, 29%, 59%, 0.671);

}
p{
    margin-top: 3px;
    margin: 25px;
    color:hsla(0, 19%, 55%, 0.616);
   
}

.logo-mobile{
    display: none;
}

#form2{
      padding: 10px 50px;
      position: absolute;
      margin-top: 10px;
      border-radius: 25px;
      border: 2px solid hsla(0, 37%, 73%, 0.884) ;
      outline: none;
}
#form3{
      padding: 8px 20px;
      border-radius: 30px;
      position: relative;
      margin-left: 40%;
      margin-top: 9px;
      background-color:hsl(0, 66%, 75%) ;
      border:2px solid hsl(0, 66%, 75%);
     
}
@media screen and (max-width:600px){
      #images-2{
          display: none;
      }
      .logo-mobile{
         display: ruby;
      }
      .container{
         background-image: none;
      }
      
      h1{
           margin-top: 130%;
      }
     p{
        position: absolute;
        margin-right: 80px;
        text-align: center;
     }
     #images-1{
         margin-bottom: 30px;
     }
     #myForm{
         margin-top:150%;
         margin-bottom: 30%;
     }
     #form3{
           margin-left: 165%;
     }
    
      
}